.password-reset-container{
    height: 100vh;
    background-color: rgb(15,15,15);
    position: absolute;
    top: 0;
    left: 50px;
    min-width: calc(100% - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.password-reset-form{
    display: flex;
    background-color: #1e2835;
    border-radius: 10px;
}
.password-reset-content{
    display: flex;
    flex-direction: column;
}
.password-reset-content>button{
    background-color: #f1069b;
    color: white;
    border: none;
    width: 320px;
    height: 40px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
}
.password-reset-content>button:hover{
    background-color: #c71669;
}
.password-reset-content>h2{
    align-self: center;
    font-family: 'poppins';
    color: white;
    margin: 0;
    margin-top: 15px;
    font-size: 1.75rem;
    font-weight: 500;
}